<div class="panel">
	<div class="panel-heading b-b">
		<h4 class="m-n font-thin h4">Change Password</h4>
	</div>
	<div class="panel-body">
		<div class="row">		
			<div class="col-md-offset-2 col-sm-8">
				<div class="alert alert-danger text-center" ng-show="request_error">
					{{ request_error }}
				</div>
			</div>
		</div>
		<form role="form" class="ng-pristine ng-valid form-horizontal">
			<div class="row">
				<div class="form-group">
					<label class="col-md-offset-1 col-sm-2 control-label">Old Password</label>
					<div class="col-sm-7">
						<input type="password" class="form-control" ng-model="password_data.password_old">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-offset-1 col-sm-2 control-label">New Password</label>
					<div class="col-sm-7">
						<input type="password" class="form-control" ng-model="password_data.password_new">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-offset-1 col-sm-2 control-label">Confirm Password</label>
					<div class="col-sm-7">
						<input type="password" class="form-control" ng-model="password_data.password_confirm">
					</div>
				</div>				
			</div>			
		</form>
	</div>
	<div class="panel-footer b-t">
		<div class="row">
			<div class="col-md-12">			
				<button type="submit" class="btn btn-primary pull-right password-submit-btn" ng-click="savePassword()">Save</button>
			</div>
		</div>
	</div>
</div>