<div class="col-sm-12 col-xs-12">
	<div class="list-group list-group-lg list-group-sp">
		<tabset class="nav-tabs" justified="true">
			<tab>
				<tab-heading>
					Associated Users
				</tab-heading>
				<div>
					<ng-include src="'tpl/nodes/leaf_components/users.html'"></ng-include>
				</div>
			</tab>
			<tab>
				<tab-heading>
					Long Lead Items
				</tab-heading>
				<div>
					<ng-include src="'tpl/nodes/leaf_components/long_lead_items.html'"></ng-include>
				</div>
			</tab>
			<tab>
				<tab-heading>
					Permits
				</tab-heading>
				<div>
					<ng-include src="'tpl/nodes/leaf_components/permits.html'"></ng-include>
				</div>
			</tab>
		</tabset>
	</div>
</div>
