<div class="col-sm-12 col-xs-12">
	<div class="list-group list-group-lg list-group-sp">
		<tabset class="nav-tabs" justified="true">
			<tab>
				<tab-heading>
					Child Tasks
				</tab-heading>
				<div>
					<ng-include src="'tpl/nodes/not_leaf_components/child_nodes.html'"></ng-include>
				</div>
			</tab>
			<tab>
				<tab-heading>
					Associated Users
				</tab-heading>
				<div>
					<ng-include src="'tpl/nodes/shared_components/users.html'"></ng-include>
				</div>
			</tab>
		</tabset>
	</div>
</div>