<div class="modal-body wrapper-lg">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="m-t-none m-b font-thin">New RFI</h3>
      <form role="form">
        <div class="form-group">
          <label>Name</label>
          <input type="email" class="form-control" placeholder="Enter RFI Name">
        </div>
        <div class="form-group">
          <label>Reference</label>
          <input type="password" class="form-control" placeholder="RFI Reference">
        </div>
        <div class="form-group">
          <label>Reference</label>
          <input type="password" class="form-control" placeholder="RFI Reference">
        </div>
        <div class="form-group">
          <label>Reference</label>
          <input type="password" class="form-control" placeholder="RFI Reference">
        </div>
        <div class="checkbox m-t-lg">
          <button type="submit" class="btn btn-md btn-success pull-right text-uc m-t-n-xs" ng-click="ok()"><strong>Save</strong></button>
          <button type="" class="btn btn-md btn-default pull-right text-uc m-t-n-xs m-r" ng-click="cancel()"><strong>Cancel</strong></button>
        </div>
      </form>
    </div>
  </div>
</div>