<div class="modal-body wrapper-lg">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="m-t-none m-b font-thin">New RFI</h3>
      <form role="form">
        <div class="form-group">
          <label for="from">From</label>
          <input id="from" name="from" type="email" class="form-control" placeholder="">
        </div>
        <div class="form-group">
          <label for="to">To</label>
          <input id="to" name="to" type="text" class="form-control" placeholder="">
        </div>
        <div class="form-group">
          <label for="request_body">Request Body</label>
          <textarea id="request_body" name="request_body" class="form-control" rows="3" placeholder="Details"></textarea>
        </div>
        <div class="form-group">
          <label for="deadline">Deadline</label>
          <input id="deadline" name="deadline" type="text" class="form-control" placeholder="">
        </div>
        <div class="form-group">
          <label for="associated_files">Associated Files</label>
          <input id="associated_files" name="associated_files" type="text" class="form-control" placeholder="How do you want to send?">
        </div>
        <div class="checkbox m-t-lg">
          <button type="submit" class="btn btn-md btn-success pull-right text-uc m-t-n-xs" ng-click="ok()"><strong>Save</strong></button>
          <button type="" class="btn btn-md btn-default pull-right text-uc m-t-n-xs m-r" ng-click="cancel()"><strong>Cancel</strong></button>
        </div>
      </form>
    </div>
  </div>
</div>