<div class="modal-body wrapper-lg">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="m-t-none m-b font-thin">New Long Lead</h3>
      <form role="form">
        <div class="form-group">
          <label for="name">Name</label>
          <input ng-model="longlead.name" id="name" name="name" type="text" class="form-control" placeholder="">
        </div>
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input ng-model="longlead.quantity"id="quantity" name="quantity" type="text" class="form-control" placeholder="">
        </div>
        <div class="form-group">
          <label for="delivery">Delivery</label>
          <input ng-model="longlead.delivery_time"id="delivery" name="delivery" type="text" class="form-control" placeholder="">
        </div>
        <div class="form-group">
          <label for="cost-per-item">Cost Per Item</label>
          <input ng-model="longlead.cost"id="cost-per-item" name="cost-per-item" type="text" class="form-control" placeholder="">
        </div>
        <div class="checkbox m-t-lg">
          <button type="submit" class="btn btn-md btn-success pull-right text-uc m-t-n-xs" ng-click="ok()"><strong>Save</strong></button>
          <button type="" class="btn btn-md btn-default pull-right text-uc m-t-n-xs m-r" ng-click="cancel()"><strong>Cancel</strong></button>
        </div>
      </form>
    </div>
  </div>
</div>