<div class="modal-body ">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="m-t-none m-b font-thin" ng-bind="longleadItem.name"></h3>
      <div class="col-xs-7">
        <dl class="dl-horizontal clearfix">
          <dt>Name</dt>
          <dd ng-bind="longleadItem.name"></dd>
          <dt>Quantity</dt>
          <dd ng-bind="longleadItem.quantity"></dd>
          <dt>Delivery</dt>
          <dd ng-bind="longleadItem.delivery_time | formatFullDate"></dd>
          <dt>Cost Per Item</dt>
          <dd ng-bind="longleadItem.cost"></dd>
          <dt>Total Cost</dt>
          <dd ng-bind="longleadItem.cost"></dd>
          <dt>Status</dt>
          <dd ng-bind="longleadItem.status.status"></dd>
          <dt>Updated By</dt>
          <dd ng-bind="longleadItem.updating_user.fullname"></dd>
        </dl>
      </div>
      <div class="col-xs-5">
        <dl class="clearfix" style='padding-top:10px'>
          <dt>Ordered By</dt>
          <dd>{{longleadItem.ordered_data.user.fullname}} on <span ng-bind="longleadItem.ordered_data.time | formatFullDate"></span></dd>
          <dt>Delivered By</dt>
          <dd>{{longleadItem.received_data.user.fullname}} on <span ng-bind="longleadItem.received_data.time | formatFullDate"></span></dd>
          <dt>Approved By</dt>
          <dd>{{longleadItem.approved_data.user.fullname}} on <span ng-bind="longleadItem.approved_data.time | formatFullDate"></span></dd>
        </dl>
      </div>
      <div class="modal-audit wrapper-lg col-sm-12 bg-light lt padder-v r-r" ng-hide="hideAudit">
        <h3 class="m-b text-md m-t-sm">Audit</h3>
        <div class="streamline b-l m-b">
          <div class="sl-item" ng-repeat="activity in longleadAudit">
            <div class="m-l">
              <div class="text-muted">{{ activity.time | fromNow }}</div>
              <p ng-bind="activity.text"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="checkbox m-t-lg col-xs-12">
        <button type="submit" class="btn btn-md btn-info pull-info text-uc m-t-n-xs" ng-click="showAudit()" ng-show="hideAudit"><strong>Show Audit</strong></button>
        <button type="submit" class="btn btn-md btn-success pull-right text-uc m-t-n-xs" ng-click="ok()"><strong>Close</strong></button>
      </div>
    </div>
  </div>
</div>