<div class="modal-body wrapper-lg">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="m-t-none m-b font-thin" ng-bind="permit.name"></h3>
      <div class="col-xs-7">
        <dl class="dl-horizontal clearfix">
          <dt>Name</dt>
          <dd ng-bind="permit.name"></dd>
          <dt>Application Time</dt>
          <dd ng-bind="permit.quantity"></dd>
          <dt>Cost</dt>
          <dd ng-bind="permit.cost"></dd>
          <dt>Status</dt>
          <dd ng-bind="permit.status.status"></dd>
          <dt>Updated By</dt>
          <dd ng-bind="permit.updating_user.fullname"></dd>
        </dl>
      </div>
      <div class="col-xs-5">
        <dl class="clearfix" style='padding-top:10px'>
          <dt>Applied At</dt>
          <dd>{{permit.applied_data.user.fullname}} on <span ng-bind="permit.applied_data.time | formatFullDate"></span></dd>
          <dt>Received At</dt>
          <dd>{{permit.received_data.user.fullname}} on <span ng-bind="permit.received_data.time | formatFullDate"></span></dd>
        </dl>
      </div>
      <div class="modal-audit wrapper-lg col-sm-12 bg-light lt padder-v r-r" ng-hide="hideAudit">
          <h3 class="m-b text-md m-t-sm">Audit</h3>
          <div class="streamline b-l m-b">
            <div class="sl-item" ng-repeat="activity in permitAudit">
              <div class="m-l">
                <div class="text-muted">{{ activity.time | fromNow }}</div>
                <p ng-bind="activity.text"></p>
              </div>
            </div>
        </div>
      </div>
      <div class="checkbox m-t-lg col-sm-12">
        <button type="submit" class="btn btn-md btn-info pull-info text-uc m-t-n-xs" ng-click="showAudit()" ng-show="hideAudit"><strong>Show Audit</strong></button>
        <button type="submit" class="btn btn-md btn-success pull-right text-uc m-t-n-xs" ng-click="ok()"><strong>Close</strong></button>
      </div>
    </div>
  </div>
</div>