<div class="hbox hbox-auto-xs hbox-auto-sm app-aside-folded" ng-init="init()">
	<!-- main -->
	<div class="col app-aside">

   		 <!-- Start Menu -->
		<nav ui-nav="" class="navi ng-scope">
			<!-- list -->
			<ul class="nav ng-scope">

				<li ng-class="{ active: user_action == 'overview' }">
					<a ng-click="changeAction('overview')">
						<i class="fa fa-globe text-dark"></i>
						<span class="ng-scope">Overview</span>
					</a>
				</li>

				<li ng-class="{ active: user_action == 'networks' }">
					<a ng-click="changeAction('networks')">
						<i class="fa fa-building-o"></i>
						<span class="ng-scope">Networks</span>
					</a>
				</li>

				<li ng-class="{ active: user_action == 'users' }">
					<a ng-click="changeAction('users')">
						<i class="fa fa-users"></i>
						<span class="ng-scope">Users</span>
					</a>
				</li>

				<li ng-class="{ active: user_action == 'permits' }" ng-show="project.permit_assessment">
					<a ng-click="changeAction('permits')">
						<i class="fa fa-certificate"></i>
						<span class="ng-scope">Permits</span>
					</a>
				</li>

				<li ng-class="{ active: user_action == 'long-leads' }" ng-show="project.permit_assessment">
					<a ng-click="changeAction('long-leads')">
						<i class="fa fa-tags"></i>
						<span class="ng-scope">Long Lead Items</span>
					</a>
				</li>

				<li ng-class="{ active: user_action == 'rfis' }">
					<a ng-click="changeAction('rfis')">
						<i class="fa fa-edit"></i>
						<span class="ng-scope">RFIs</span>
					</a>
				</li>

				<li ng-class="{ active: user_action == 'gantt' }">
					<a href="#/app/page/projects/1/gantt">
						<i class="fa fa-tasks"></i>
						<span class="ng-scope">Gantt Chart</span>
					</a>
				</li>

				<li ng-class="{ active: user_action == 'settings' }">
					<a ng-click="changeAction('settings')">
						<i class="fa fa-cogs"></i>
						<span class="ng-scope">Settings</span>
					</a>
				</li>

			</ul>
			<!-- / list -->
		</nav>
		<!-- End Menu -->    

   		<!-- START TEMPLATE -->
		<ng-include src="'tpl/project/page_project_overview.html'" ng-show="user_action == 'overview'"></ng-include>
		<ng-include src="'tpl/project/page_project_networks.html'" ng-show="user_action == 'networks'"></ng-include>
		<ng-include src="'tpl/project/page_project_users.html'" ng-show="user_action == 'users'"></ng-include>
		<ng-include src="'tpl/project/page_project_permits.html'" ng-show="user_action == 'permits'"></ng-include>
		<ng-include src="'tpl/project/page_project_long_leads.html'" ng-show="user_action == 'long-leads'"></ng-include>
		<ng-include src="'tpl/project/page_project_rfis.html'" ng-show="user_action == 'rfis'"></ng-include>
		<ng-include src="'tpl/project/page_project_settings.html'" ng-show="user_action == 'settings'"></ng-include>
    	<!-- END TEMPLATE -->    

	</div>
	<!-- / main -->
	<!-- right col -->
	<div class="col w-md bg-black dk bg-auto">
		<div class="wrapper text-center" ng-hide="projectAudit">
			<i class="fa fa-spin fa-refresh"></i>
      		<div>Loading Recent Activity...</div>
		</div>

		<div class="wrapper padder-top-none" ng-show="projectAudit">
			<div class="streamline b-l m-b">
				<div class="sl-item" ng-repeat="activity in projectAudit">
					<div class="m-l">
						<div class="text-white">{{ activity.time | fromNow }}</div>
						<p ng-bind="activity.text"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- / right col -->
</div>