<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="init()">
	<!-- main -->
	<div class="col" id="main_body">
		<!-- main header -->
		<div class="bg-light lter b-b wrapper-md" ng-show="newsfeed.length > 0">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<h1 class="m-n font-thin h3 text-black">Welcome {{ user_data.firstname }}</h1>
				</div>
			</div>
		</div>
		<!-- / main header -->

		<!-- main body -->
		<div class="row" ng-hide="newsfeed.length > 0">
			<div class="wrapper-lg">
				<div class="row">
					<div class="col-md-offset-3 col-md-6">
						<div class="panel bg-black">
							<div class="panel-heading">
								<h3 class="m-n font-thin h3 text-metinet">Welcome {{ user_data.firstname }}!</h3>
							</div>
							<div class="panel-body wrapper-md">
								<p>Welcome to Metinet!</p>
								<p>We think this software will make your life a LOT easier, and we'll endeavour to increasingly improve the service as we develop.  So we hope you'll give us feedback to allow us to help you get more out of this software.</p>
								<p>However, there are a few things we need to get done first, so let's get started!</p>

								<br>

								<h4 class="h4 text-black m-b-sm">First Step: Join A Network</h4>
								<p>You need to join a company network before we can get you started with any project manangement.</p>
							</div>
							<div class="panel-body">
								<div class="btn-group btn-group-justified">
									<a class="btn btn-default">Request To Join Network</a>
									<a class="btn btn-default">Create A New Network</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-black lter b-b" ng-show="newsfeed.length > 0">

			<!-- info column -->
			<div class="col-md-3 b-r">
				<div class="row">
					<div class="hbox bg-primary bg">
						<div class="wrapper bg-black pointer" ng-click="changeAction('overview')">
							<span class="text-white">Your Overview</span>
						</div>
						<div class="wrapper pointer" ng-click="changeAction('projects')">
							<span>Active Projects</span>
							<div class="h1 text-muted font-thin" ng-hide="user_projects">
								<i class="fa fa-spin fa-refresh"></i>
							</div>
							<div class="h1 text-info font-thin" ng-show="user_projects">
								{{ user_projects.length }}
							</div>
						</div>
						<div class="wrapper bg-info pointer" ng-click="changeAction('current_tasks')">
							<span>Active Tasks</span>
							<div class="h1 text-muted font-thin" ng-hide="current_tasks">
								<i class="fa fa-spin fa-refresh"></i>
							</div>
							<div class="h1 text-warning font-thin" ng-show="current_tasks">
								{{ current_tasks.length }}
							</div>
						</div>
						<div class="wrapper pointer" ng-click="changeAction('upcoming_tasks')">
							<span>Upcoming Tasks</span>
							<div class="h1 text-muted font-thin" ng-hide="upcoming_tasks">
								<i class="fa fa-spin fa-refresh"></i>
							</div>
							<div class="h1 text-info font-thin" ng-show="upcoming_tasks">
								{{ upcoming_tasks.length }}
							</div>
						</div>
						<div class="wrapper bg-info pointer" ng-click="changeAction('rfis')">
							<span>Network RFIs</span>
							<div class="h1 text-muted font-thin" ng-hide="network_rfis">
								<i class="fa fa-spin fa-refresh"></i>
							</div>
							<div class="h1 text-warning font-thin" ng-show="network_rfis">
								{{ network_rfis.length }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- / info column -->

			<!-- main column -->
			<div class="col-md-9">

				<div class="row">

					<ng-include	src="'tpl/homepage/7_day_stats_overview.html'"
								ng-show="homepage_action == 'overview'"></ng-include>

					<ng-include	src="'tpl/homepage/projects_overview.html'"
								ng-show="homepage_action == 'projects'"></ng-include>

					<ng-include	src="'tpl/homepage/current_tasks_overview.html'"
								ng-show="homepage_action == 'current_tasks'"></ng-include>

					<ng-include	src="'tpl/homepage/upcoming_tasks_overview.html'"
								ng-show="homepage_action == 'upcoming_tasks'"></ng-include>

					<ng-include	src="'tpl/homepage/network_rfis_overview.html'"
								ng-show="homepage_action == 'rfis'"></ng-include>

				</div>
			</div>
			<!-- / main column -->

		</div>
		<!-- / main body -->
	</div>
  <!-- / main -->
  <!-- right col -->
  <div class="col w-md b-l bg-auto no-border-xs" id="sidebar">
  	<div class="sidebar_inner">

		<div class="wrapper">
			<div class="font-thin h4"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Newsfeed</div>
		</div>

		<ul class="timeline" ng-hide="newsfeed.length > 0">
			<li class="wrapper p-t-0">
				<div class="">
					<p>You have no news!</p>
					<p>You must do something to create some news...</p>
				</div>
			</li>
		</ul>

		<ul class="timeline" ng-show="newsfeed.length > 0">
			<li class="tl-item" ng-repeat="newsItem in newsfeed">
				<div class="tl-wrap b-{{newsItem.colour}} m-l-0">
					<div class="tl-content panel padder b-t b-b w-auto-xs b-radius-0 b-r-0">
						<div class="text-lt m-b-sm">
							{{ newsItem.project_name }}
							<span class="pull-right" ng-bind="newsItem.time | fromNow"></span>
						</div>
						<div class="panel-body pull-in b-t b-light">
							<div class="clear">
								<a href="" class="text-dark block m-b-xs" ng-bind="newsItem.text"></a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="tl-header">
				<div class="btn btn-sm btn-default btn-rounded" ng-click="getNewsfeed()">more</div>
			</li>
		</ul>

	</div>
  </div>
  <!-- / right col -->
</div>

<script type="text/javascript">
	$('document').ready(function() {
		var main_body_height = $('#main_body').height();
		console.log(main_body_height);
		$('#sidebar .sidebar_inner').height(main_body_height);
	});
</script>