<div class="col-md-3">
  <div class="row">
   
    <div class="panel panel-default b-0">
      <div class="panel-heading b-b-0">
        <span class="h4">Register</span>
      </div>
      <div class="panel-body no-padder">
        <div class="list-group m-b-none">
          <a ng-click="changeSettingsAction('general')" class="list-group-item">
            <i class="fa fa-chevron-right text-muted"></i>
            <i class="fa fa-pencil fa-fw m-r-xs"></i> General
          </a>
          <a ng-click="changeSettingsAction('location')" class="list-group-item">
            <i class="fa fa-chevron-right text-muted"></i>
            <i class="fa fa-map-marker fa-fw m-r-xs"></i> Location
          </a>
          <a ng-click="changeSettingsAction('monitoring')" class="list-group-item">
            <i class="fa fa-chevron-right text-muted"></i>
            <i class="fa fa-eye fa-fw m-r-xs"></i> Monitoring
          </a>
        </div>
      </div>
    </div>

    {{ settings_action }}

  </div>
</div>
<div class="col-md-9">
  <div class="row">

  </div>
</div>