<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col">
    <div style="background:url(img/c4.jpg) center center; background-size:cover">
      <div class="wrapper-lg bg-white-opacity">
        <div class="row m-t">
          <div class="col-sm-7">
            <a href class="thumb-lg pull-left m-r">
              <img src="img/a0.jpg" class="img-circle">
            </a>
            <div class="clear m-b">
              <div class="m-b m-t-sm">
                <span class="h3 text-black" ng-bind='profile.fullname'></span>
                <small class="m-l">
                  <i class="fa fa-map-marker" ng-show="profile.location_current"></i>&nbsp;
                  {{ profile.location_current }}
                </small>
              </div>
              <p class="m-b">
                <span class="h4 text-black" ng-show="profile.headline">
                  {{ profile.headline }}
                  <span ng-show="profile.network">
                    @ <a href="#/app/page/company/{{ profile.network.id }}">{{ profile.network.name }}</a>
                  </span>
                </span>
              </p>
              <!-- <a href class="btn btn-sm btn-success btn-rounded">Follow</a> -->
            </div>
          </div>
          <div class="col-sm-5">
            <div class="pull-right pull-none-xs text-center">
              <a href class="m-b-md inline m">
                <span class="h3 block font-bold">2k</span>
                <small>Followers</small>
              </a>
              <a href class="m-b-md inline m">
                <span class="h3 block font-bold">250</span>
                <small>Following</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper bg-white b-b">
      <ul class="nav nav-pills nav-sm">
        <li class="active"><a href>Profile</a></li>
        <li><a href>Stream</a></li>
      </ul>
    </div>

    <div class="wrapper">
      <div class="row">
          <div class="col-sm-3">
            <div class="panel panel-default">
              <div class="list-group no-radius alt">
                <a class="list-group-item" href="">
                  <span class="pull-right" ng-bind="profile.projects.length"></span>
                  <i class="fa fa-globe fa-fw text-muted"></i>&nbsp;
                  Projects
                </a>
                <a class="list-group-item" href="">
                  <span class="pull-right" ng-bind="profile.connections.length"></span>
                  <i class="fa fa-users fa-fw text-muted"></i>&nbsp; 
                  Connections
                </a>
              </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-body">
                <div class="clear">
                  <a href="" class="btn btn-addon btn-sm btn-info m-t-xs"><i class="fa fa-plus"></i> Add Connection</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="panel panel-default">
              <a href="" class="m-t-sm m-l inline" ng-click="data=[40, 40, 20]">
                <i class="icon-info"></i>&nbsp;&nbsp;Bio
              </a>
              <div class="wrapper m-b-sm">              
                {{ profile.bio }}
              </div>
              <ul class="list-group no-radius">

                <!-- Experience -->
                <li class="list-group-item" ng-show="profile.experience.length > 0">
                  <h3><i class="fa fa-fw fa-building-o"></i>&nbsp;&nbsp;Experience</h3>
                </li>                
                <li class="list-group-item" ng-repeat="experience in profile.experience">
                  <span class="pull-right" ng-show="experience.current">
                    Current Job
                  </span>
                  <span class="pull-right" ng-show="!experience.current">
                    {{ experience.start_date | formatFullDate }} - {{ experience.end_date | formatFullDate }}
                  </span>
                  {{ experience.title }} @ {{ experience.company }}
                  <hr>
                  <p>{{ experience.desc }}</p>
                </li>

                <!-- Educations -->
                <li class="list-group-item" ng-show="profile.education.length > 0">
                  <h3><i class="fa fa-fw fa-graduation-cap"></i>&nbsp;&nbsp;Education</h3>
                </li>
                <li class="list-group-item" ng-repeat="education in profile.education">
                  <span class="pull-right">
                    {{ education.start_date | formatFullDate }} - {{ education.end_date | formatFullDate }}
                  </span>
                  {{ education.title }} @ {{ education.institute }}
                  <hr>
                  <p>{{ education.desc }}</p>                  
                </li>

                <!-- Awards -->
                <li class="list-group-item" ng-show="profile.awards.length > 0">
                  <h3><i class="fa fa-fw fa-trophy"></i>&nbsp;&nbsp;Awards</h3>
                </li>                
                <li class="list-group-item" ng-repeat="award in profile.awards">
                  <span class="pull-right">{{ education.date | formatFullDate }}</span>
                  {{ award.title }}<br>
                  <small>{{ award.institute }}</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
 
  </div>
  <div class="col w-lg bg-light lter b-l bg-auto">
    <div class="wrapper">
      <div class="">
        <h4 class="m-t-xs m-b-xs">???</h4>
        <ul class="list-group no-bg no-borders pull-in">
          <li class="list-group-item">
            <a herf class="pull-left thumb-sm avatar m-r">
              <img src="img/a4.jpg" alt="..." class="img-circle">
              <i class="on b-white bottom"></i>
            </a>
            <div class="clear">
              <div><a href>Chris Fox</a></div>
              <small class="text-muted">Designer, Blogger</small>
            </div>
          </li>
          <li class="list-group-item">
            <a herf class="pull-left thumb-sm avatar m-r">
              <img src="img/a5.jpg" alt="..." class="img-circle">
              <i class="on b-white bottom"></i>
            </a>
            <div class="clear">
              <div><a href>Mogen Polish</a></div>
              <small class="text-muted">Writter, Mag Editor</small>
            </div>
          </li>
          <li class="list-group-item">
            <a herf class="pull-left thumb-sm avatar m-r">
              <img src="img/a6.jpg" alt="..." class="img-circle">
              <i class="busy b-white bottom"></i>
            </a>
            <div class="clear">
              <div><a href>Joge Lucky</a></div>
              <small class="text-muted">Art director, Movie Cut</small>
            </div>
          </li>
          <li class="list-group-item">
            <a herf class="pull-left thumb-sm avatar m-r">
              <img src="img/a7.jpg" alt="..." class="img-circle">
              <i class="away b-white bottom"></i>
            </a>
            <div class="clear">
              <div><a href>Folisise Chosielie</a></div>
              <small class="text-muted">Musician, Player</small>
            </div>
          </li>
        </ul>
      </div>
      <div class="panel b-a">
        <h4 class="font-thin padder">???</h4>
        <ul class="list-group">
          <li class="list-group-item">
              <p>Wellcome <a href class="text-info">@Drew Wllon</a> and play this web application template, have fun1 </p>
              <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</small>
          </li>
          <li class="list-group-item">
              <p>Morbi nec <a href class="text-info">@Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>
              <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 1 hour ago</small>
          </li>
          <li class="list-group-item">
              <p><a href class="text-info">@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis</p>
              <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</small>
          </li>
        </ul>
      </div>
      <div class="panel b-light clearfix">
        <div class="panel-body">
          <a href class="thumb pull-left m-r">
            <img src="img/a0.jpg" class="img-circle">
          </a>
          <div class="clear">
            <a href class="text-info">@Mike Mcalidek <i class="fa fa-twitter"></i></a>
            <small class="block text-muted">2,415 followers / 225 tweets</small>
            <a href class="btn btn-xs btn-success m-t-xs">Follow</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>