<div class="col w-md bg-light lter b-r bg-auto no-border-xs">
  <div class="wrapper-md b-b">
    <h1 class="h4" ng-bind="node.name"></h1>
  </div>
  <div class=" wrapper-md">
    <dl>
      <dt ng-show="node.parent_node.id">Parent Node</dt>
      <dd class="m-b-xs ng-binding"><a href="#/app/page/nodes/{{node.parent_node.id}}" ng-bind="node.parent_node.name"></a></dd>
      <dt>Start Date</dt>
      <dd class="m-b-xs ng-binding" ng-bind="node.start_date"></dd>
      <dt>End Date</dt>
      <dd class="m-b-xs ng-binding" ng-bind="node.end_date.date"></dd>
      <dt>Progress</dt>
      <dd class="m-b-xs ng-binding">
        <div class="progress-xs m-t-sm m-b-sm bg-white progress ng-isolate-scope" value="{{node.progress}}" animate="true" type="info">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{node.progress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: node.progress + '%'}" aria-valuetext="{{node.progress}}%" style="width: {{node.progress}}%;"></div>
        </div>
      </dd>
      <dt>Assigned User</dt>
      <dd class="m-b-xs ng-binding" ng-bind="node.associated_user.fullname"></dd>
      <dt>Last Updated</dt>
      <dt>By <span class="font-normal" ng-bind="node.updated_data.user.fullname"></span></dt>
      <dt>On <span class="font-normal" ng-bind="node.updated_data.time.date"></span></dt>
    </dl>
  </div>
</div>
<div class="bg-light lter b-b wrapper-md">
  <div class="row" ng-hide="node.is_leaf">
    <div class="col-sm-6 col-xs-12">
      <div class="list-group list-group-lg list-group-sp">
        <h4 class="m m-t-sm m-l-xs m-b-lg h4 text-black">Children nodes</h4>
        <div ng-repeat="childNode in node.children">
          <a href="#/app/page/nodes/{{childNode.id}}" class="list-group-item clearfix" >
            <span class="clear">
              <span ng-bind="childNode.name"></span>
              <small class="text-muted clear text-ellipsis">
                <div class="progress-xs m-t-sm m-b-xs bg-white progress ng-isolate-scope" value="{{childNode.progress}}" animate="true" type="info">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{childNode.progress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: childNode.progress + '%'}" aria-valuetext="{{childNode.progress}}%" style="width: {{childNode.progress}}%;"></div>
                </div>
              </small>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-show="node.is_leaf">
    <div class="col-sm-12 col-xs-12">
      <div class="list-group list-group-lg list-group-sp">
        <h4 class="m m-t-sm m-l-xs m-b-lg h4 text-black"ng-bind="node.name"></h4>
        <tabset class="nav-tabs-alt" justified="true">
          <tab>
            <tab-heading>
            Audit History
          </tab-heading>
          <div class="wrapper-xs">
            <div class="row m-t">
            [ audit history goes here, CORS ERRORS ]
            </div>
          </div>
        </tab>
          <tab>
            <tab-heading>
            Users
          </tab-heading>
          <div class="wrapper-xs">
            <div class="m-t alert alert-warning text-center" ng-hide="nodeUsers.length">
              This node has no Users
            </div>
            <div ng-show="nodeUsers.length" class="panel no-border no-shadow m-b-none">
              <!-- <div class="panel-heading wrapper b-b b-light no-gutter row no-gutter">
            </div> -->
              <ul class="list-group list-group-lg m-b-none">
                <li class="list-group-item" ng-repeat="projectUser in nodeUsers">
                  <a href="" class="thumb-sm m-r">
                    <img src="img/a1.jpg" class="r r-2x">
                  </a>
                  <span class="pull-right label bg-primary inline m-t-sm">{{projectUser.fullname}}</span>
                  <a href="" ng-bind=projectUser.fullname></a> [
                  <a class="small" href="" ng-bind=projectUser.email></a> ]
                </li>
              </ul>
              <div class="panel-footer row m-t">
                <div class="col-sm-3">
                  <!--           <div class="input-group">
      <input type="text" class="input-sm form-control" placeholder="Search Users">
      <span class="input-group-btn">
        <button class="btn btn-sm btn-default" type="button">Go!</button>
      </span>
    </div> -->
                </div>
                <div class="col-sm-6 ">
                </div>
                <div class="col-sm-3">
                </div>
                <!-- <span class="pull-right badge badge-bg m-t-xs">32</span> -->
              </div>
            </div>
          </div>
        </tab>
          <tab>
            <tab-heading>
            Long Lead
          </tab-heading>
            <div class="m-t alert alert-warning text-center" ng-hide="nodeLongLeads.length">
              This node has no Long Lead Items
            </div>
            <div class="wrapper-xs" ng-show="nodeLongLeads.length">
              <div class="panel-body">
                <table class="table table-striped m-b-none">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th class="text-center">Quantity</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Ordered</th>
                      <th class="text-center">Received</th>
                      <th class="text-center">Approved</th>
                      <th class="text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="longLead in nodeLongLeads">
                      <td data-ng-bind="longLead.name"></td>
                      <td class="text-center" data-ng-bind="longLead.quantity"></td>
                      <td class="text-center">
                        <span class="label bg-danger" data-ng-bind="longLead.status.status"></span>
                      </td>
                      <td class="text-center">
                        <div class="checkbox m-n">
                          <label class="i-checks">
                            <input type="checkbox" checked=""><i></i>
                          </label>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="checkbox m-n">
                          <label class="i-checks">
                            <input type="checkbox" checked=""><i></i>
                          </label>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="checkbox m-n">
                          <label class="i-checks">
                            <input type="checkbox" checked=""><i></i>
                          </label>
                        </div>
                      </td>
                      <td class="text-center">
                        <a href=""><i class="fa fa-fw m-r-xs fa-search"></i></a>
                        <a href=""><i class="fa fa-fw m-r-xs fa-pencil"></i></a>
                        <a href=""><i class="fa fa-fw fa-trash"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="panel-footer wrapper row no-gutter no-border">
                <div class="col-sm-3">
                  <div class="input-group">
                  </div>
                </div>
                <div class="col-sm-6 ">
                </div>
                <div class="col-sm-3">
                </div>
              </div>
            </div>
          </tab>
          <tab>
            <tab-heading>
              Permits
            </tab-heading>
            <div class="m-t alert alert-warning text-center" ng-hide="nodePermits.length">
              This node has no Permits
            </div>
            <div class="wrapper-xs" ng-show="nodePermits.length">
              <div class="panel-body">
                <div class="ng-scope">
                  <table class="table table-striped m-b-none">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Applied</th>
                        <th class="text-center">Received</th>
                        <th class="text-center">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="permit in nodePermits">
                        <td data-ng-bind="permit.name"></td>
                        <td class="text-center">
                          <span class="label bg-{{permit.status.status_colour}}" data-ng-bind="permit.status.status"></span>
                        </td>
                        <td class="text-center">
                          <div class="checkbox m-n">
                            <label class="i-checks">
                              <input type="checkbox" checked=""><i></i>
                            </label>
                          </div>
                        </td>
                        <td class="text-center">
                          <div class="checkbox m-n">
                            <label class="i-checks">
                              <input type="checkbox" checked=""><i></i>
                            </label>
                          </div>
                        </td>
                        <td class="text-center">
                          <a href="" ng-click="open()"><i class="fa fa-fw m-r-xs fa-search"></i></a>
                          <a href=""><i class="fa fa-fw m-r-xs fa-pencil"></i></a>
                          <a href=""><i class="fa fa-fw fa-trash"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="panel-footer wrapper row no-gutter no-border">
                <div class="col-sm-3">
                  <div class="input-group">
                  </div>
                </div>
                <div class="col-sm-6 ">
                </div>
                <div class="col-sm-3">
                </div>
              </div>
            </div>
          </tab>
          <tab>
            <tab-heading>
            Notes
          </tab-heading>
          <div class="m-t alert alert-warning text-center">
            This node has no Notes
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
</div>
