<div class="app-content m-n ng-scope">
  <!-- uiView:  --><div ui-view="" class="app-content-body ng-scope"><div class="bg-light lter wrapper-md ng-scope">
  <div class="row">
    <div class="col-sm-6 col-xs-6 col-xs-offset-3">
      <h1 class="m-n font-thin h3 text-black">New Project</h1>
    </div>
  </div>
</div>
<section class="m-t-md col-xs-6 col-xs-offset-3 ng-scope">
  <div class="">
    <div class="panel panel-default">
      <div class="panel-body">
        <form name="userForm" class="signin ng-pristine ng-valid" autocomplete="off">

          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">Name</label>
              <div class="">
                <input type="text" id="name" name="name" class="form-control ng-pristine ng-valid" data-ng-model="project.name" placeholder="">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Start Date</label>
              <div class="">
                <input type="text" id="start_date" name="start_date" class="form-control ng-pristine ng-valid" data-ng-model="project.start_date" placeholder="">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">Client</label>
              <div class="">
                <input type="text" id="client" name="client" class="form-control ng-pristine ng-valid" data-ng-model="project.client" placeholder="">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">End Date</label>
              <div class="">
                <input type="text" id="end_date" name="end_date" class="form-control ng-pristine ng-valid" data-ng-model="project.end_date" placeholder="">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">Contractor</label>
              <div class="">
                <input type="text" id="contractor" name="contractor" class="form-control ng-pristine ng-valid" data-ng-model="project.contractor" placeholder="">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Consultant</label>
              <div class="">
                <input type="text" id="consultant" name="consultant" class="form-control ng-pristine ng-valid" data-ng-model="project.consultant" placeholder="">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label class="control-label">Description</label>
              <div class="">
                <input type="text" id="description" name="description" class="form-control ng-pristine ng-valid" data-ng-model="project.description" placeholder="">
              </div>
            </div>
          </div>

          <hr class="m-t-sm"/>

          <div class="row">
            <div class="col-md-6">

              <select class="form-control m-b" ng-model="project.country" ng-options="country.iso as country.name for country in countries">
              </select>

            </div>
            <div class="col-md-6">
              <select class="form-control m-b" ng-model="project.currency" ng-options="currency.code as currency.name for currency in currencies">
              </select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">Work Days</label>
              <div class="">
                <input type="text" id="contractor" name="contractor" class="form-control ng-pristine ng-valid" data-ng-model="project.contractor" placeholder="">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Working Hours</label>
              <div class="">
                <input type="text" id="consultant" name="consultant" class="form-control ng-pristine ng-valid" data-ng-model="project.consultant" placeholder="">
              </div>
            </div>
          </div>

          <hr class="m-t-sm"/>

          <div class="row">
            <div class="col-md-6">
              <h5 class="font-bold">Tracking</h5>
              <div class="checkbox m-t-xxs">
                <label class="i-checks">
                  <input type="checkbox"  checklist-value="uiTemplate"><i></i> Progress Reports
                </label>
              </div>
              <div class="checkbox m-t-xxs">
                <label class="i-checks">
                  <input type="checkbox"  checklist-value="uiTemplate"><i></i> Long Lead Time
                </label>
              </div>
              <div class="checkbox m-t-xxs">
                <label class="i-checks">
                  <input type="checkbox"  checklist-value="uiTemplate"><i></i> Permits
                </label>
              </div>
              <div class="checkbox m-t-xxs">
                <label class="i-checks">
                  <input type="checkbox"  checklist-value="uiTemplate"><i></i> Risk Assessment
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <h5 class="font-bold">Defaults</h5>
              <div class="m-t-xs">
                Defaults?
              </div>
              <div class="m-t-xs">
                Defaults?
              </div>
              <div class="m-t-xs">
                Defaults?
              </div>
            </div>
          </div>

          <div class="text-center form-group2 m-t-lg m-b-md">
            <button type="submit" class="btn btn-large btn-primary">Save Project</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
