<div class="panel panel-default">
	<a href="" class="m-t-sm m-l inline" ng-click="data=[40, 40, 20]">
		<i class="icon-info"></i>&nbsp;&nbsp;Bio
	</a>
	<div class="wrapper m-b-sm">              
		{{ profile.bio }}
	</div>
	<ul class="list-group no-radius">

		<!-- Experience -->
		<li class="list-group-item" ng-show="profile.experience.length > 0">
			<h3><i class="fa fa-fw fa-building-o"></i>&nbsp;&nbsp;Experience</h3>
		</li>                
		<li class="list-group-item" ng-repeat="experience in profile.experience">
			<span class="pull-right" ng-show="experience.current">
				Current Job
			</span>
			<span class="pull-right" ng-show="!experience.current">
				{{ experience.start_date | formatFullDate }} - {{ experience.end_date | formatFullDate }}
			</span>
			{{ experience.title }} @ {{ experience.company }}
			<hr>
			<p>{{ experience.desc }}</p>
		</li>

		<!-- Educations -->
		<li class="list-group-item" ng-show="profile.education.length > 0">
			<h3><i class="fa fa-fw fa-graduation-cap"></i>&nbsp;&nbsp;Education</h3>
		</li>
		<li class="list-group-item" ng-repeat="education in profile.education">
			<span class="pull-right">
				{{ education.start_date | formatFullDate }} - {{ education.end_date | formatFullDate }}
			</span>
			{{ education.title }} @ {{ education.institute }}
			<hr>
			<p>{{ education.desc }}</p>                  
		</li>

		<!-- Awards -->
		<li class="list-group-item" ng-show="profile.awards.length > 0">
		 	<h3><i class="fa fa-fw fa-trophy"></i>&nbsp;&nbsp;Awards</h3>
		</li>                
		<li class="list-group-item" ng-repeat="award in profile.awards">
			<span class="pull-right">{{ education.date | formatFullDate }}</span>
				{{ award.title }}<br>
			<small>{{ award.institute }}</small>
		</li>
	</ul>
</div>