<!-- START: Profile Matches Current User -->
<div ng-show="can_edit">
	<form editable-form name="editableForm" onaftersave="updateEducation($index)" class="form-horizontal">		
<!-- 	START: Editable Section-->
		<div class="wrapper m-b-sm" ng-show="editableForm.$visible">
			<div class="row">
				<div class="col-md-1 no-padder">
					<button type="submit"
							class="btn btn-primary btn-xs btn-block"
							ng-show="editableForm.$visible"
							ng-disabled="editableForm.$waiting">
						Save
					</button>
					<button type="button"
							class="btn btn-default btn-xs btn-block"
							ng-show="editableForm.$visible"							
							ng-disabled="editableForm.$waiting"
							ng-click="editableForm.$cancel()">
						Cancel
					</button>
				</div>
				<div class="col-md-11">
					<div class="form-group">
						<label class="col-lg-2 control-label">Job Title</label>
						<div class="col-lg-8">
							<span editable-text="education.title" e-required>
								{{ education.title || 'Job Title' }}
							</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-2 control-label">Institute</label>
						<div class="col-lg-8">
							<span editable-text="education.institute" e-typeahead="network as network.name for network in networks | filter:$viewValue | limitTo:4">
								{{ education.institute.name || 'Institute' }}
							</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-2 control-label">Start Date</label>
						<div class="col-sm-8" ng-controller="DatepickerDemoCtrl">
							<div class="input-group row">
								<input 	type="date"
										class="form-control"
										datepicker-popup="{{ format }}"
										ng-model="education.start_date"
										is-open="opened"
										datepicker-options="dateOptions"
										ng-required="true"
										close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
						</div>
					</div>

					<div class="form-group" ng-show="!education.current">
						<label class="col-lg-2 control-label">End Date</label>
						<div class="col-sm-8" ng-controller="DatepickerDemoCtrl">
							<div class="input-group row">
								<input 	type="date"
										class="form-control"
										datepicker-popup="{{ format }}"
										ng-model="education.end_date"
										is-open="opened"
										datepicker-options="dateOptions"
										ng-required="true"
										close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-2 control-label">Qualification Description</label>
						<div class="col-lg-8">
							<textarea 	class="form-control"
										editable-textarea="education.desc"
										e-rows="7" 
										e-required>{{ education.desc || 'Tell people about your qualification.' }}</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- 	END: Editable Section-->
<!-- 	START: Display Section-->
		<div class="wrapper padder-v-0" ng-hide="editableForm.$visible">
			<div class="row">
				<div class="col-md-1 no-padder">
					<button type="button"
							class="btn btn-primary btn-xs btn-block edit-btn education-{{ education.id }}"
							ng-click="editableForm.$show()"
							ng-show="!editableForm.$visible"
							ng-disabled="!profile_loaded">
						<i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit
					</button>
					<button type="button"
							class="btn btn-danger btn-xs btn-block delete-btn education-{{ education.id }} text-center padder-h-0"
							ng-click="deleteEducation($index)"
							ng-show="!editableForm.$visible"
							ng-disabled="!profile_loaded">
						<i class="fa fa-times"></i>&nbsp;&nbsp;Remove
					</button>					
				</div>
				<div class="col-md-11">			
					<span class="pull-right">	
						{{ education.start_date | formatFullDate }} - {{ education.end_date | formatFullDate }}
					</span>
					{{ education.title }} @ {{ education.institute.name }}
					<hr>
					<p>{{ education.desc }}</p>
				</div>
			</div>
		</div>
<!-- 	END: Display Section-->		
	</form>
</div>
<!-- END: Profile Matches Current User -->
<!-- START: Profile Does Not Match Current User -->
<div ng-hide="can_edit">
	<span class="pull-right">	
		{{ education.start_date | formatFullDate }} - {{ education.end_date | formatFullDate }}
	</span>			
	{{ education.title }} @ {{ education.institute }}
	<hr>
	<p>{{ education.desc }}</p>
</div>
<!-- END: Profile Does Not Match Current User