<div class="panel">
	<div class="panel-heading b-b">
		<h4 class="m-n font-thin h4">General Settings</h4>
	</div>
	<div class="panel-body">
		<form name="form" class="form-validation">
			<div class="row">			
				<div class="form-group col-sm-6">
					<label>Network Name</label>
					<input 	ng-model="network_data.name"
							type="text"
							class="form-control"
							required>
				</div>
				<div class="form-group col-sm-6">
					<label>Website</label>
					<input 	ng-model="network_data.website"
							type="url"
							class="form-control"
							placeholder="http://"
							required>
				</div>
			</div>

			<div class="row">			
				<div class="form-group col-sm-6">
					<label>Default Office</label>
					<select ng-model="network_data.default_loc_id" class="form-control">
						<option value="{{ location.id }}"
								ng-repeat="location in network_data.locations"
								ng-selected="location.id == network_data.default_loc_id">
							{{ location.name }}
						</option>
					</select>
				</div>

				<div class="form-group col-sm-6">
					<label>Company Representative</label>
					<select ng-model="network_data.rep_id" class="form-control">
						<option value="{{ user.id }}"
								ng-repeat="user in network_data.users"
								ng-selected="user.id == network_data.rep_id">
							{{ user.fullname }}
						</option>
					</select>
				</div>

			</div>

		</form>
	</div>
	<div class="panel-footer b-t">
		<div class="row">
			<div class="col-md-12">			
				<button type="submit"
						class="btn btn-primary pull-right submit-btn"
						ng-click="updateNetwork('account')"
						ng-disabled="form.$invalid">
						Save
				</button>
			</div>
		</div>
	</div>
</div>