<h3 class="m-t-none m-b-none font-thin wrapper">
	Import Tasks
	<a class="btn btn-default pull-right" ng-click="downloadTemplate()">Download Template</a>
</h3>
<div class="row">
	<div class="modal-body padder-v-0">
		<div class="row">
			<div class="col-sm-12">

				<div class="panel-body">
					<p><i class="fa fa-fw fa-info-circle"></i> Remember to download the template first - you'll need this to ensure your data will be imported correctly.</p>

					<hr>

					<label class="control-label">Choose package for tasks to be associated with</label>
					<select class="form-control m-b" ng-model="selected_package">
						<option value="{{ package.id }}"
								ng-repeat="package in packages"
								ng-selected="selected_package == package.id">
							{{ package.name }}
						</option>
					</select>

					<div class="m-b">
						<input type="file" nv-file-select="" uploader="uploader" />
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="m-t-none m-b-none font-thin wrapper p-t-0">
	<div class="row">
		<div class="col-md-12">
			<div class="pull-right clearfix">
				<a class="btn btn-default" ng-click="cancel()">Cancel</a>
				<a class="btn btn-primary btn-upload" ng-click="ok()">Upload</a>
			</div>
		</div>
	</div>
</div>