<div class="hbox hbox-auto-xs bg-light">
	<!-- column -->
	<div class="col w-md lter b-r">
		<div class="wrapper b-b">
			<div class="font-thin h4">Settings Menu</div>
		</div>
		<div class="">
			<div class="list-group bg-white">
				<a  ui-sref="{{ menu_item.state }}"
					class="list-group-item"
					ng-repeat="menu_item in settings_menu">
					<i class="fa fa-fw {{ menu_item.icon }}"></i>&nbsp; {{ menu_item.name }}
				</a>
			</div>
		</div>
	</div>
	<!-- /column -->

	<div class="wrapper-sm">
		<!-- START: Nested View -->
		<div ui-view></div>
		<!-- END: Nested View -->
	</div>

</div>
<!-- /hbox layout -->