<div class="panel panel-default b-0">
	<header class="panel-heading b-b">
		<h4 class="m-n font-thin h4">General Settings</h4>
	</header>
	<div class="panel-body">
	
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6">
						<label>Project Name</label>
						<input  type="text" 
								class="form-control"
								ng-model="project_settings.name">
					</div>
					<div class="col-sm-6">
						<label>Description</label>
						<input  type="text" 
								class="form-control"
								ng-model="project_settings.desc">
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-sm-6">
						<label>Contract Start Date</label>
						<div ng-controller="DatepickerDemoCtrl">
							<div class="input-group">
								<input  type="text" 
										class="form-control"
										datepicker-popup="{{ format }}"
										ng-model="project_settings.start_date"
										is-open="opened"
										datepicker-options="dateOptions"
										ng-required="true"
										close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open($event)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<label>Contract End Date</label>
						<div ng-controller="DatepickerDemoCtrl">
							<div class="input-group">
								<input  type="text" 
										class="form-control"
										datepicker-popup="{{ format }}"
										ng-model="project_settings.end_date_contract"
										is-open="opened"
										datepicker-options="dateOptions"
										ng-required="true"
										close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open($event)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<hr>

		<div class="form-group">
			<div class="row">
				<div class="col-sm-6">
					<label>Client</label>
					<input 	type="text"
							class="form-control"
							placeholder="Client"
							ng-model="project_settings.client"
							typeahead="network as network.name for network in project_settingsNetworks">
				</div>
				<div class="col-sm-6">
					<label>Contractor</label>
					<input 	type="text"
							class="form-control"
							placeholder="Contractor"
							ng-model="project_settings.contractor"
							typeahead="network as network.name for network in project_settingsNetworks">
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="row">
				<div class="col-sm-6">
					<label>Consultant</label>
					<input 	type="text"
							class="form-control"
							placeholder="Consultant"
							ng-model="project_settings.consultant"
							typeahead="network as network.name for network in project_settingsNetworks">
				</div>
			</div>
		</div>

	</div>
	<footer class="panel-footer text-right bg-light lter">
		<button type="submit"
				class="btn btn-primary btn-submit general"
				ng-disabled="!project_settings"
				ng-click="submitSettings('general')">
			Save
		</button>
	</footer>
</div>