.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
  border: 2px solid #ddd;
}
.legendLabel{
  color:#111;
}
.loading-gantt{
  background-image:url(./../img/spinner.gif);
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-repeat:no-repeat;
  background-position:center center;
  height: 500px;
}

.loading-gantt span{
  position:absolute;
  top:58%;
  width:100%;
  text-align: center;
  font-size:16px;
  font-weight:bold;
}

.angular-google-map-container { height: 400px; }

.complete_button{
  margin-top: 1px;
  background-image:url("common/v_complete.png");
  width: 20px;
}

.gantt_btn_set.details_btn_set {
  background: #fff;
  color: #454545;
  border: 1px solid #cecece;
}

.progress-xs{
  background-color:#eee;
}

.modal-body .dl-horizontal dd{
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left:130px;
}
.modal-body .dl-horizontal dt{
  margin-top: 10px;
  width:110px;
}

.modal-body dl dd{
  margin-bottom: 20px;
}

.thumb-sm{
  vertical-align: top;
}

.gantt_project{
  height:20px!important;
}

.gantt_project .gantt_task_content{
  line-height: 18px;
}

.gantt_project:before{
  content: '';
  position: absolute;
  left: -5px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  top: 16px;
  border-top: 6px solid #ccc;
  transform: rotate(135deg);
}

.gantt_project:after{
  content: '';
  position: absolute;
  right: -5px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  top: 16px;
  border-top: 6px solid #ccc;
  transform: rotate(225deg);
}
.gantt_task_line.gantt_project {
  background-color: #eee!important;
  border: 1px solid #ccc!important;
}

.gantt_task_line.gantt_project .gantt_task_progress {
background-color: #ccc!important;
}

.gantt_task_line.gantt_critical_task .gantt_task_content{
  color:white!important;
}

.gantt_task_line.gantt_project.gantt_critical_task {
  opacity: 0.8;
  background-color: #e63030!important;
  border-color: #9d3a3a!important;
}

.gantt_task_line.gantt_project.gantt_critical_task .gantt_task_progress {
  opacity: 0.8;
  background-color: #9d3a3a!important;
}
.gantt_project.gantt_critical_task:before{
  border-top: 6px solid #9d3a3a;
}

.gantt_project.gantt_critical_task::after{
  border-top: 6px solid #9d3a3a;
}


.conversation-reply-body{
  width:100%;
  border:0px solid #ddd;
  padding:15px;
}

.conversation-header{
  min-height:61px;
}



