<h3 class="m-t-none m-b-none font-thin wrapper">Change Network</h3>
<div class="row">
	<div class="modal-body padder-v-0">
		<div class="row">
			<div class="col-sm-12">

				<div class="panel-body">

					<form name="location_form" class="form-horizontal">

						<div class="col-md-12 m-b">
							<p>By selecting a new network, you will lose access to you current network.</p>
							<p>Consequently access to all your current projects will be revoked.</p>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">Search Networks:</label>
							<div class="col-md-9">
								<input 	type="text"
										ng-model="selected_network"
										placeholder="Search Networks..."
										typeahead="network as network.name for network in networks | filter:$viewValue | limitTo:8"
										class="form-control">
							</div>
						</div>

					</form>

				</div>

			</div>
		</div>
	</div>
</div>
<div class="m-t-none m-b-none font-thin wrapper p-t-0">
	<div class="row">
		<div class="col-md-12">
			<div class="pull-right clearfix">
				<a class="btn btn-default" ng-click="cancel()">Cancel</a>
				<a class="btn btn-primary" ng-click="ok()">Save</a>
			</div>
		</div>
	</div>
</div>